{% extends 'base.html.twig' %}

{% block content %}
    <div class="block-add-form">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-3 text-center ">
                    <a class="links" href="/add-epoch">New Epoch</a>
                </div>
                <div class="col-3 text-center ml-auto">
                    <a class="links" href="/add-geographical-area">New Geographical Area</a>
                </div>
            </div>
        </div>
        <h2 class="h2-add">Link a new book</h2>
        {{ form_start(form, {
            'attr': {
                'novalidate': 'novalidate',
                'class': 'col-lg-5 mx-auto'
            }
        })
        }}
        {{ form_row(form.isbn) }}
        {{ form_row(form.title) }}
        {{ form_row(form.editor) }}
        {{ form_row(form.epoch) }}
        {{ form_row(form.geographicalArea) }}

        <ul class="tags" data-prototype="{{ form_widget(form.keywords.vars.prototype)|e('html_attr') }}">
            {{ form_label(form.keywords, 'Keywords') }}
            {% for keyword in form.keywords %}
                <li>{{ form_row(keyword.name) }}</li>
            {% endfor %}
        </ul>
        {{ form_end(form) }}
    </div>
{% endblock %}