{% extends 'base.html.twig' %}

{% block content %}
    <div class="block-showBook">
        <h2 class="h2-add">{{ book.title }}</h2>
        <h4 class="h4-show-book">{{ book.author }}</h4>
        <h4 class="h4-show-book">{{ book.isbn }}</h4>
        <h3><a class="links" href="/epoch/{{ book.epoch.id }}">{{ book.epoch.epoch }}</a> - <a class="links" href="/region/{{ book.geographicalArea.id }}">{{ book.geographicalArea.geographicalArea }}</a></h3>
        <ul class="ul-add">
            {% for keyword in book.keywords %}
                <li><a href="/bookloud/{{ keyword.id }}" class="links">{{ keyword.name }}</a></li>
            {% endfor %}
        </ul>
        <button type="button" class="btn btn-info"><a href="/edit/book/{{ book.id }}" class="links">Edit this book</a></button>
        <button type="button" class="btn btn-danger"><a href="/delete/book/{{ book.id }}" class="links">Delete this book</a></button>
    </div>
{% endblock %}