{% extends 'base.html.twig' %}

{% block content %}
    <div class="block-showBookloud">
        <h2 class="h2-add">{{ keyword.name }}</h2>
        <ul class="ul-add">
            {% for book in keyword.books %}
                <li><a href="/book/{{ book.id }}" class=links>{{ book.editor }} - {{ book.title }} - {{ book.isbn }}</a></li>
            {% endfor %}
        </ul>
        <button type="button" class="btn btn-danger"><a href="/delete/bookloud/{{ keyword.id }}" class="links">Delete this keyword</a></button>
    </div>
{% endblock %}