{% extends 'base.html.twig' %}

{% block content %}
    <h2><a href="/add" class="links">Link a book</a></h2>
    {% if books is not empty %}
        <h2>Existing booklouds : </h2>
        {% for keyword in keywords %}
            <p><a href="/bookloud/{{ keyword.id }}">{{ keyword.name }}</a></p>
        {% endfor %}
        <h2>Books linked :</h2>
        {% for book in books %}
            <p><a href="/book/{{ book.id }}">{{ book.title }}</a> - {{ book.editor }} - {{ book.isbn }}</p>
        {% endfor %}
    {% else %}
        <p>No books or booklouds to show for the moment...</p>
    {% endif %}
{% endblock %}