{% extends 'base.html.twig' %}

{% block content %}
    <h2 class="h2-home"><a href="/add" class="links">-> New book <-</a></h2>
    {% if books is not empty %}
        <div class="flex-home">
            <div class="block-home-booklouds">
                <h2 class="h2-home">Booklouds : </h2>
                <div class="grid-booklouds">
                    {% for keyword in keywords %}
                        <p><a href="/bookloud/{{ keyword.id }}" class="links">{{ keyword.name }}</a></p>
                    {% endfor %}
                </div>
            </div>
            <div class="block-home-books">
                <h2 class="h2-home">Books :</h2>
                <div class="grid-books">
                    {% for book in books %}
                        <a href="/book/{{ book.id }}" class=links>{{ book.title }} ({{ book.editor }})</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        <p>No books or booklouds to show for the moment...</p>
    {% endif %}
{% endblock %}